Repository bounswe/2021SpringGroup9, pull requests merged in 2021-06, with the labels that each got.

#130 Location Api Ahmet Melih
  .gitignore
  practice-app/api/models.py
  practice-app/api/serializers.py
  practice-app/api/tests.py
  practice-app/api/urls.py
  practice-app/api/views.py
  practice-app/practice/settings.py
  practice-app/practice/urls.py
Labels: practice-app, priority: critical

#136 Quotes API zcanfes
  practice-app/api/admin.py
  practice-app/api/models.py
  practice-app/api/serializers.py
  practice-app/api/tests/test_quote.py
  practice-app/api/urls.py
  practice-app/api/views/views_quote.py
  practice-app/practice/settings.py
  practice-app/practice/urls.py
Labels: practice-app, priority: critical

#132 Weather API Mert Alkan
  .gitignore
  practice-app/api/tests/test_weatherAPI_mertlkn.py
  practice-app/api/urls.py
  practice-app/api/views/views_weatherAPI_mertlkn.py
Labels: practice-app, priority: critical

#131 Created API functionality for getting places near story location
  practice-app/api/tests/test_nearbyplaces.py
  practice-app/api/urls.py
  practice-app/api/views/view_nearbyplaces.py
Labels: practice-app, priority: critical

#138 Views and tests are put into file to ease merge.
  practice-app/api/tests/test_locationAPI.py
  practice-app/api/urls.py
  practice-app/api/views/view_locationAPI.py
Labels: practice-app, priority: critical

#135 Translation API Niyazi
  practice-app/api/admin.py
  practice-app/api/models.py
  practice-app/api/serializers.py
  practice-app/api/tests/test_translationAPI_niyazi.py
  practice-app/api/urls.py
  practice-app/api/views/view_translationAPI_niyazi.py
Labels: practice-app, priority: critical

#162 Frontend
  practice-app/api/urls.py
  practice-app/api/views/view_cityAPI.py
  practice-app/api/views/view_frontend.py
  practice-app/practice/settings.py
  practice-app/practice/urls.py
  practice-app/templates/create_story.html
  practice-app/templates/homepage.html
  practice-app/templates/story.html
Labels: enhancement, frontend, practice-app, priority: critical

#163 Small documentation and test fix.
  practice-app/api/tests/test_translationAPI_niyazi.py
  practice-app/api/views/view_translationAPI_niyazi.py
Labels: practice-app, priority: critical

#164 Quotes api improvement
  .DS_Store
  .gitignore
  practice-app/.DS_Store
  practice-app/api/.DS_Store
  practice-app/api/tests/test_quote.py
  practice-app/api/views/views_quote.py
Labels: backend, bug, practice-app, priority: critical
