Repository bounswe/2021SpringGroup9, pull requests merged in 2021-12, with the labels that each got.

#358 Improved the TimeChooser component so that users can choose different year/month/date/time slices independently
  postory/frontend/src/TimeChooser.js
Labels: enhancement, frontend, postory

#362 Merging frontend-signin into frontend-authentication
  postory/frontend/src/SignIn.css
  postory/frontend/src/SignIn.js
Labels: enhancement, frontend, postory

#363 Merging frontend-signup into frontend-authentication
  postory/frontend/src/SignUp.css
  postory/frontend/src/SignUp.js
Labels: enhancement, frontend, postory

#371 Frontend view post page
  postory/frontend/src/App.css
  postory/frontend/src/App.js
  postory/frontend/src/CreatePost.js
  postory/frontend/src/EditPost.js
  postory/frontend/src/Post.js
  postory/frontend/src/ViewPost.js
  postory/frontend/src/index.js
Labels: enhancement, priority: critical, frontend, postory

#359 Android refactor1
  postory/android/Postory/.gitignore
  postory/android/Postory/.idea/.gitignore
  postory/android/Postory/.idea/codeStyles/Project.xml
  postory/android/Postory/.idea/codeStyles/codeStyleConfig.xml
  postory/android/Postory/.idea/compiler.xml
  postory/android/Postory/.idea/gradle.xml
  postory/android/Postory/.idea/jarRepositories.xml
  postory/android/Postory/.idea/misc.xml
  postory/android/Postory/.idea/uiDesigner.xml
  postory/android/Postory/.idea/vcs.xml
  postory/android/Postory/app/build.gradle
  postory/android/Postory/app/src/main/AndroidManifest.xml
  postory/android/Postory/app/src/main/java/com/example/postory/activities/CreatePostActivity.java
  postory/android/Postory/app/src/main/java/com/example/postory/activities/MainActivity.java
  postory/android/Postory/app/src/main/java/com/example/postory/activities/ToolbarActivity.java
  postory/android/Postory/app/src/main/res/layout/toolbar.xml
  postory/android/Postory/app/src/main/res/menu/toolbar_menu.xml
Labels: priority: high, status: completed, difficulty: easy, android, postory

#372 Completed implementing authentication for frontend
  postory/frontend/package.json
  postory/frontend/src/Activation.css
  postory/frontend/src/Activation.js
  postory/frontend/src/ForgotPassword.css
  postory/frontend/src/ForgotPassword.js
  postory/frontend/src/ForgotPasswordConfirm.css
  postory/frontend/src/ForgotPasswordConfirm.js
  postory/frontend/src/SignIn.css
  postory/frontend/src/SignIn.js
  postory/frontend/src/SignUp.css
  postory/frontend/src/SignUp.js
  postory/frontend/src/index.js
Labels: enhancement, frontend, postory

#384 Frontend discoverypage
  postory/frontend/src/DiscoverPage.js
  postory/frontend/src/TopBar.js
  postory/frontend/src/index.js
Labels: enhancement, priority: critical, frontend, postory

#389 Fixed the buggy link on discovery page directing to the view post page
  postory/frontend/src/DiscoverPage.js
  postory/frontend/src/TopBar.js
Labels: bug, frontend, postory

#365 Backend Djoser Settings
  postory/backend/backend/email.py
  postory/backend/backend/settings.py
  postory/backend/backend/urls.py
  postory/backend/docker-compose.yml
  postory/backend/requirements.txt
  postory/backend/templates/email/activation.html
  postory/backend/templates/email/confirmation.html
  postory/backend/user_endpoint/models.py
  postory/backend/user_endpoint/serializers.py
Labels: priority: critical, difficulty: medium, backend, postory

#386 Backend follow user
  postory/backend/backend/settings.py
  postory/backend/backend/urls.py
  postory/backend/post_endpoint/views.py
  postory/backend/user_endpoint/models.py
  postory/backend/user_endpoint/urls.py
  postory/backend/user_endpoint/views.py
Labels: enhancement, backend, postory

#385 Backend Comment and Like
  postory/backend/post_endpoint/models.py
  postory/backend/post_endpoint/serializers.py
  postory/backend/post_endpoint/urls.py
  postory/backend/post_endpoint/views.py
  postory/backend/user_endpoint/models.py
  postory/backend/user_endpoint/serializers.py
  postory/backend/user_endpoint/urls.py
  postory/backend/user_endpoint/views.py
Labels: priority: critical, difficulty: hard, backend, postory

#383 Backend get followed posts get users posts
  postory/backend/backend/settings.py
  postory/backend/post_endpoint/urls.py
  postory/backend/post_endpoint/views.py
Labels: enhancement, priority: critical, difficulty: medium, backend, postory

#393 Get used method is now being used for discover, main page, admin and …
  postory/backend/post_endpoint/views.py
Labels: priority: critical, difficulty: easy, backend, postory

#396 Backend Location and Time
  postory/backend/post_endpoint/models.py
  postory/backend/post_endpoint/serializers.py
  postory/backend/post_endpoint/views.py
Labels: priority: critical, difficulty: medium, backend, postory

#394 Backend response fix
  postory/backend/post_endpoint/views.py
  postory/backend/user_endpoint/views.py
Labels: priority: critical, backend, postory

#403 Android login activity
  postory/android/Postory/app/build.gradle
  postory/android/Postory/app/src/main/AndroidManifest.xml
  postory/android/Postory/app/src/main/java/com/example/postory/activities/LoginActivity.java
  postory/android/Postory/app/src/main/java/com/example/postory/activities/RegisterActivity.java
  postory/android/Postory/app/src/main/java/com/example/postory/models/UserModel.java
  postory/android/Postory/app/src/main/java/com/example/postory/utils/PasswordController.java
  postory/android/Postory/app/src/main/java/com/example/postory/utils/StringListHandler.java
  postory/android/Postory/app/src/main/res/layout/activity_login.xml
  postory/android/Postory/app/src/main/res/layout/activity_register.xml
  postory/android/Postory/app/src/main/res/values/strings.xml
  postory/android/Postory/app/src/test/java/com/example/postory/PasswordControllerTest.java
  postory/android/Postory/gradle.properties
Labels: status: completed, priority: critical, android, postory

#404 Implemented JWT request functions
  postory/frontend/src/SignUp.css
  postory/frontend/src/SignUp.js
  postory/frontend/src/requests.js
Labels: enhancement, frontend, postory

#375 Explore page created, Google Map SDK integration completed
  postory/android/Postory/.idea/.gitignore
  postory/android/Postory/.idea/codeStyles/Project.xml
  postory/android/Postory/.idea/codeStyles/codeStyleConfig.xml
  postory/android/Postory/.idea/compiler.xml
  postory/android/Postory/.idea/gradle.xml
  postory/android/Postory/.idea/jarRepositories.xml
  postory/android/Postory/.idea/misc.xml
  postory/android/Postory/.idea/vcs.xml
  postory/android/Postory/app/build.gradle
  postory/android/Postory/app/src/main/AndroidManifest.xml
  postory/android/Postory/app/src/main/java/com/example/postory/activities/ExploreActivity.java
  postory/android/Postory/app/src/main/res/layout/activity_explore.xml
  postory/android/Postory/build.gradle
  postory/android/Postory/gradle.properties
Labels: enhancement, priority: high, difficulty: hard, android

#405 Location choosing using a map for post creation is implemented
  postory/frontend/package-lock.json
  postory/frontend/package.json
  postory/frontend/src/App.css
  postory/frontend/src/App.js
  postory/frontend/src/CreatePost.js
  postory/frontend/src/EditPost.js
  postory/frontend/src/LocationMap.js
  postory/frontend/src/Post.js
Labels: enhancement, frontend, postory

#408 Frontend api integration is complete for main page, view post page, and sign in and sign up
  postory/frontend/src/App.js
  postory/frontend/src/CreatePost.js
  postory/frontend/src/EditPost.js
  postory/frontend/src/Post.js
  postory/frontend/src/Redirector.js
  postory/frontend/src/SignIn.js
  postory/frontend/src/ViewPost.js
  postory/frontend/src/index.js
  postory/frontend/src/requests.js
Labels: enhancement, difficulty: hard, frontend

#409 Android Time Chooser Fragment
  postory/android/Postory/app/build.gradle
  postory/android/Postory/app/src/main/java/com/example/postory/fragments/TimeChooserFragment.java
  postory/android/Postory/app/src/main/java/com/example/postory/utils/HourMinuteHandler.java
  postory/android/Postory/app/src/main/java/com/example/postory/utils/TimeController.java
  postory/android/Postory/app/src/main/res/layout/fragment_time_chooser.xml
  postory/android/Postory/app/src/main/res/values/strings.xml
  postory/android/Postory/app/src/main/res/values/styles.xml
  postory/android/Postory/app/src/test/java/com/example/postory/TimeControllerTest.java
Labels: status: completed, priority: critical, android, postory

#411 Getting a user is now corrected and checks for public-private and fol…
  postory/backend/user_endpoint/views.py
Labels: bug, priority: critical, difficulty: easy, backend, postory

#407 Fixed response code errors
  postory/frontend/src/ForgotPassword.js
  postory/frontend/src/SignIn.js
  postory/frontend/src/SignUp.js
  postory/frontend/src/requests.js
Labels: enhancement, frontend, postory

#412 Locations of posts are now shown on the map
  postory/android/Postory/app/src/main/AndroidManifest.xml
  postory/android/Postory/app/src/main/java/com/example/postory/activities/CreatePostActivity.java
  postory/android/Postory/app/src/main/java/com/example/postory/activities/ExploreActivity.java
  postory/android/Postory/app/src/main/java/com/example/postory/activities/LoginActivity.java
  postory/android/Postory/app/src/main/java/com/example/postory/activities/MainActivity.java
  postory/android/Postory/app/src/main/java/com/example/postory/adapters/PostAdapter.java
  postory/android/Postory/app/src/main/res/layout/activity_create_post.xml
  postory/android/Postory/gradle.properties
Labels: priority: high, status: completed, difficulty: hard, android, postory

#416 Login directly if the last login is not long ago
  postory/android/Postory/app/src/main/java/com/example/postory/activities/LoginActivity.java
Labels: status: completed, priority: critical, difficulty: medium, android, postory

#414 Map Fragment is created for the create post activity flow , locations…
  postory/android/Postory/app/src/main/AndroidManifest.xml
  postory/android/Postory/app/src/main/java/com/example/postory/activities/CreatePostActivity.java
  postory/android/Postory/app/src/main/java/com/example/postory/activities/ExploreActivity.java
  postory/android/Postory/app/src/main/java/com/example/postory/fragments/MapFragment.java
  postory/android/Postory/app/src/main/java/com/example/postory/fragments/TimeChooserFragment.java
  postory/android/Postory/app/src/main/java/com/example/postory/models/LocationModel.java
  postory/android/Postory/app/src/main/java/com/example/postory/utils/TimeController.java
  postory/android/Postory/app/src/main/res/layout/activity_create_post.xml
  postory/android/Postory/app/src/main/res/layout/map_fragment.xml
Labels: enhancement, priority: critical, difficulty: hard, android, postory

#417 When creating a post, user's posts were not updated. It is fixed.
  postory/backend/post_endpoint/views.py
Labels: bug, priority: critical, difficulty: easy, backend, postory

#419 Frontend view post page some changes
  postory/frontend/src/App.css
  postory/frontend/src/ViewPost.js
Labels: enhancement, frontend, postory

#418 Frontend profilepage
  postory/frontend/package-lock.json
  postory/frontend/package.json
  postory/frontend/src/App.css
  postory/frontend/src/CreatePost.js
  postory/frontend/src/DiscoverPage.js
  postory/frontend/src/EditPost.js
  postory/frontend/src/LocationChooser.js
  postory/frontend/src/PeopleChooser.js
  postory/frontend/src/Post.js
  postory/frontend/src/PostButtons.js
  postory/frontend/src/ProfilePage.js
  postory/frontend/src/TagChooser.js
  postory/frontend/src/ViewPost.js
  postory/frontend/src/index.js
Labels: enhancement, frontend, postory

#421 Create Post Page crash fixed
  postory/android/Postory/.idea/misc.xml
  postory/android/Postory/app/src/main/AndroidManifest.xml
  postory/android/Postory/app/src/main/java/com/example/postory/activities/CreatePostActivity.java
  postory/android/Postory/app/src/main/java/com/example/postory/activities/ExploreActivity.java
  postory/android/Postory/app/src/main/java/com/example/postory/fragments/MapFragment.java
Labels: enhancement, priority: critical, difficulty: medium, android, postory

#423 Toolbar added to explore page
  postory/android/Postory/app/src/main/java/com/example/postory/activities/ExploreActivity.java
Labels: status: completed, priority: critical, difficulty: medium, android, postory

#427 Android forgot password
  postory/android/Postory/app/src/main/AndroidManifest.xml
  postory/android/Postory/app/src/main/java/com/example/postory/activities/ForgotPasswordActivity.java
  postory/android/Postory/app/src/main/java/com/example/postory/activities/LoginActivity.java
  postory/android/Postory/app/src/main/res/layout/activity_forgot_password.xml
  postory/android/Postory/app/src/main/res/values/strings.xml
Labels: status: completed, priority: critical, android, postory

#428 Frontend backend integration for create/edit, discover, signup/in (except activate) pages are complete
  postory/frontend/src/Activation.js
  postory/frontend/src/CreatePost.js
  postory/frontend/src/DiscoverPage.js
  postory/frontend/src/EditPost.js
  postory/frontend/src/LocationMap.js
  postory/frontend/src/Post.js
  postory/frontend/src/ProfilePage.js
  postory/frontend/src/SignIn.js
  postory/frontend/src/SignUp.js
  postory/frontend/src/TimeChooser.js
  postory/frontend/src/ViewPost.js
Labels: enhancement, frontend, postory

#432 Fixed time editing
  postory/frontend/src/EditPost.js
  postory/frontend/src/TimeChooser.js
Labels: enhancement, frontend, postory

#430 Fixed the activation parameter bug
  postory/frontend/src/Activation.js
Labels: enhancement, frontend, postory

#436 A small error in getting the main page posts is fixed. User object wa…
  postory/backend/post_endpoint/views.py
Labels: bug, priority: critical, difficulty: easy, backend, postory

#434 Frontend like post
  postory/frontend/src/Post.js
  postory/frontend/src/PostButtons.js
  postory/frontend/src/ProfilePage.js
Labels: enhancement, frontend, postory

#437 Frontend fix layout
  postory/frontend/src/Post.js
  postory/frontend/src/ProfilePage.js
Labels: priority: high, frontend, postory

#441 Frontend view post small fixes
  postory/frontend/package-lock.json
  postory/frontend/package.json
  postory/frontend/src/EditPost.js
  postory/frontend/src/LocationMap.js
  postory/frontend/src/Post.js
  postory/frontend/src/Post.test.js
  postory/frontend/src/PostButtons.js
  postory/frontend/src/ViewPost.js
Labels: priority: critical, frontend, postory

#442 Android single post page
  postory/android/Postory/.idea/jarRepositories.xml
  postory/android/Postory/app/build.gradle
  postory/android/Postory/app/src/main/AndroidManifest.xml
  postory/android/Postory/app/src/main/java/com/example/postory/activities/CreatePostActivity.java
  postory/android/Postory/app/src/main/java/com/example/postory/activities/ExploreActivity.java
  postory/android/Postory/app/src/main/java/com/example/postory/activities/LoginActivity.java
  postory/android/Postory/app/src/main/java/com/example/postory/activities/MainActivity.java
  postory/android/Postory/app/src/main/java/com/example/postory/activities/SinglePostActivity.java
  postory/android/Postory/app/src/main/java/com/example/postory/adapters/PostAdapter.java
  postory/android/Postory/app/src/main/java/com/example/postory/models/Post.java
  postory/android/Postory/app/src/main/java/com/example/postory/models/PostModel.java
  postory/android/Postory/app/src/main/res/layout/activity_single_post.xml
  postory/android/Postory/build.gradle
Labels: status: completed, priority: critical, difficulty: hard, android, postory

#444 User can add profile photo with clicking their image and their photo
  postory/frontend/src/App.css
  postory/frontend/src/DiscoverPage.js
  postory/frontend/src/LocationMap.js
  postory/frontend/src/PostButtons.js
  postory/frontend/src/ProfilePage.js
  postory/frontend/src/ViewPost.js
Labels: enhancement, frontend, postory

#438 User profile photo
  postory/backend/post_endpoint/models.py
  postory/backend/post_endpoint/serializers.py
  postory/backend/post_endpoint/views.py
  postory/backend/user_endpoint/models.py
  postory/backend/user_endpoint/serializers.py
  postory/backend/user_endpoint/views.py
Labels: priority: critical, difficulty: medium, backend, postory

#450 Profile page - fix follower and post count
  postory/frontend/src/ProfilePage.js
Labels: frontend, postory

#451 Android profile page
  postory/android/Postory/app/build.gradle
  postory/android/Postory/app/src/main/AndroidManifest.xml
  postory/android/Postory/app/src/main/java/com/example/postory/activities/ForgotPasswordActivity.java
  postory/android/Postory/app/src/main/java/com/example/postory/activities/LoginActivity.java
  postory/android/Postory/app/src/main/java/com/example/postory/activities/MainActivity.java
  postory/android/Postory/app/src/main/java/com/example/postory/activities/OtherProfilePageActivity.java
  postory/android/Postory/app/src/main/java/com/example/postory/activities/RegisterActivity.java
  postory/android/Postory/app/src/main/java/com/example/postory/activities/SelfProfilePageActivity.java
  postory/android/Postory/app/src/main/java/com/example/postory/models/UserModel.java
  postory/android/Postory/app/src/main/res/drawable/rectangle.xml
  postory/android/Postory/app/src/main/res/layout/activity_other_profile_page.xml
  postory/android/Postory/app/src/main/res/layout/activity_self_profile_page.xml
  postory/android/Postory/app/src/main/res/values/strings.xml
  postory/android/Postory/gradle.properties
Labels: status: completed, priority: critical, difficulty: hard, android, postory

#453 Comment feature added
  postory/android/Postory/app/src/main/java/com/example/postory/activities/CreatePostActivity.java
  postory/android/Postory/app/src/main/java/com/example/postory/activities/MainActivity.java
  postory/android/Postory/app/src/main/java/com/example/postory/activities/SinglePostActivity.java
  postory/android/Postory/app/src/main/java/com/example/postory/adapters/CommentsAdapter.java
  postory/android/Postory/app/src/main/java/com/example/postory/fragments/MapFragment.java
  postory/android/Postory/app/src/main/java/com/example/postory/models/CommentModel.java
  postory/android/Postory/app/src/main/res/layout/activity_create_post.xml
  postory/android/Postory/app/src/main/res/layout/activity_single_post.xml
  postory/android/Postory/app/src/main/res/layout/single_comment.xml
Labels: priority: high, status: completed, difficulty: hard, android, postory

#452 Discover page - post popup updated
  postory/frontend/src/DiscoverPage.js
Labels: enhancement, frontend, postory

#454 Frontend general fix
  postory/frontend/src/App.js
  postory/frontend/src/CreatePost.js
  postory/frontend/src/Post.js
  postory/frontend/src/PostButtons.js
  postory/frontend/src/Redirector.js
Labels: enhancement, priority: critical, frontend

#456 Some visual fixes regarding posts
  postory/android/Postory/app/src/main/AndroidManifest.xml
  postory/android/Postory/app/src/main/java/com/example/postory/activities/CreatePostActivity.java
  postory/android/Postory/app/src/main/java/com/example/postory/activities/ExploreActivity.java
  postory/android/Postory/app/src/main/java/com/example/postory/activities/SinglePostActivity.java
  postory/android/Postory/app/src/main/java/com/example/postory/adapters/CommentsAdapter.java
  postory/android/Postory/app/src/main/java/com/example/postory/adapters/PostAdapter.java
  postory/android/Postory/app/src/main/java/com/example/postory/models/Post.java
  postory/android/Postory/app/src/main/res/layout/activity_create_post.xml
  postory/android/Postory/app/src/main/res/layout/activity_single_post.xml
  postory/android/Postory/app/src/main/res/layout/single_comment.xml
  postory/android/Postory/app/src/main/res/layout/single_post.xml
  postory/android/Postory/app/src/main/res/layout/single_tag.xml
Labels: enhancement, priority: critical, difficulty: hard, android, postory

#455 Android time display fix
  postory/android/Postory/app/src/main/java/com/example/postory/activities/SinglePostActivity.java
  postory/android/Postory/app/src/main/java/com/example/postory/adapters/PostAdapter.java
  postory/android/Postory/app/src/main/java/com/example/postory/utils/TimeController.java
  postory/android/Postory/app/src/main/res/layout/activity_single_post.xml
  postory/android/Postory/app/src/main/res/layout/single_post.xml
Labels: status: completed, priority: critical, difficulty: medium, android, postory

#457 Android add comment
  README.md
  postory/android/Postory/app/src/main/java/com/example/postory/activities/ExploreActivity.java
  postory/android/Postory/app/src/main/java/com/example/postory/activities/SinglePostActivity.java
  postory/android/Postory/app/src/main/java/com/example/postory/models/CommentInputModel.java
  postory/android/Postory/app/src/main/res/layout/activity_single_post.xml
Labels: enhancement, status: in progress, priority: critical, difficulty: hard, android, postory

#458 Android camera edit fix
  postory/android/Postory/app/build.gradle
  postory/android/Postory/app/src/main/AndroidManifest.xml
  postory/android/Postory/app/src/main/java/com/example/postory/activities/CreatePostActivity.java
  postory/android/Postory/app/src/main/java/com/example/postory/activities/ExploreActivity.java
  postory/android/Postory/app/src/main/java/com/example/postory/activities/SinglePostActivity.java
  postory/android/Postory/app/src/main/java/com/example/postory/fragments/MapFragment.java
  postory/android/Postory/app/src/main/java/com/example/postory/fragments/TimeChooserFragment.java
  postory/android/Postory/app/src/main/res/layout/activity_create_post.xml
Labels: enhancement, priority: critical, difficulty: hard, android, postory

#460 Logout and go to profile added to the toolbar
  postory/android/Postory/app/src/main/java/com/example/postory/activities/CreatePostActivity.java
  postory/android/Postory/app/src/main/java/com/example/postory/activities/ExploreActivity.java
  postory/android/Postory/app/src/main/java/com/example/postory/activities/MainActivity.java
  postory/android/Postory/app/src/main/java/com/example/postory/activities/OtherProfilePageActivity.java
  postory/android/Postory/app/src/main/java/com/example/postory/activities/SelfProfilePageActivity.java
  postory/android/Postory/app/src/main/java/com/example/postory/activities/SinglePostActivity.java
  postory/android/Postory/app/src/main/java/com/example/postory/activities/ToolbarActivity.java
  postory/android/Postory/app/src/main/res/menu/toolbar_menu.xml
Labels: status: completed, priority: critical, difficulty: medium, android, postory

#462 Sign up fetch and redirect fixed
  postory/frontend/src/SignUp.js
Labels: frontend, postory

#461 Bugs in sign up functionality fixed
  postory/android/Postory/app/src/main/java/com/example/postory/activities/OtherProfilePageActivity.java
  postory/android/Postory/app/src/main/java/com/example/postory/activities/RegisterActivity.java
  postory/android/Postory/app/src/main/java/com/example/postory/activities/SelfProfilePageActivity.java
  postory/android/Postory/app/src/main/java/com/example/postory/utils/PasswordController.java
Labels: bug, status: completed, priority: critical, difficulty: medium, android, postory

#464 Merging Backend Master to Master
  .github/workflows/backend_deploy.yml
  postory/backend/Dockerfile
  postory/backend/backend/email.py
  postory/backend/backend/settings.py
  postory/backend/backend/urls.py
  postory/backend/docker-compose.yml
  postory/backend/post_endpoint/models.py
  postory/backend/post_endpoint/serializers.py
  postory/backend/post_endpoint/urls.py
  postory/backend/post_endpoint/views.py
  postory/backend/requirements.txt
  postory/backend/templates/email/activation.html
  postory/backend/templates/email/confirmation.html
  postory/backend/user_endpoint/__init__.py
  postory/backend/user_endpoint/admin.py
  postory/backend/user_endpoint/apps.py
  postory/backend/user_endpoint/models.py
  postory/backend/user_endpoint/serializers.py
  postory/backend/user_endpoint/tests.py
  postory/backend/user_endpoint/urls.py
  postory/backend/user_endpoint/views.py
Labels: priority: critical, difficulty: hard, backend, postory

#465 Android Milestone 2
  .github/workflows/android_deploy.yml
  postory/android/Postory/.gitignore
  postory/android/Postory/.idea/gradle.xml
  postory/android/Postory/.idea/jarRepositories.xml
  postory/android/Postory/.idea/misc.xml
  postory/android/Postory/.idea/uiDesigner.xml
  postory/android/Postory/.idea/vcs.xml
  postory/android/Postory/app/build.gradle
  postory/android/Postory/app/src/main/AndroidManifest.xml
  postory/android/Postory/app/src/main/java/com/example/postory/activities/CreatePostActivity.java
  postory/android/Postory/app/src/main/java/com/example/postory/activities/ExploreActivity.java
  postory/android/Postory/app/src/main/java/com/example/postory/activities/ForgotPasswordActivity.java
  postory/android/Postory/app/src/main/java/com/example/postory/activities/LoginActivity.java
  postory/android/Postory/app/src/main/java/com/example/postory/activities/MainActivity.java
  postory/android/Postory/app/src/main/java/com/example/postory/activities/OtherProfilePageActivity.java
  postory/android/Postory/app/src/main/java/com/example/postory/activities/RegisterActivity.java
  postory/android/Postory/app/src/main/java/com/example/postory/activities/SelfProfilePageActivity.java
  postory/android/Postory/app/src/main/java/com/example/postory/activities/SinglePostActivity.java
  postory/android/Postory/app/src/main/java/com/example/postory/activities/ToolbarActivity.java
  postory/android/Postory/app/src/main/java/com/example/postory/adapters/CommentsAdapter.java
  postory/android/Postory/app/src/main/java/com/example/postory/adapters/PostAdapter.java
  postory/android/Postory/app/src/main/java/com/example/postory/fragments/MapFragment.java
  postory/android/Postory/app/src/main/java/com/example/postory/fragments/TimeChooserFragment.java
  postory/android/Postory/app/src/main/java/com/example/postory/models/CommentInputModel.java
  postory/android/Postory/app/src/main/java/com/example/postory/models/CommentModel.java
  postory/android/Postory/app/src/main/java/com/example/postory/models/LocationModel.java
  postory/android/Postory/app/src/main/java/com/example/postory/models/Post.java
  postory/android/Postory/app/src/main/java/com/example/postory/models/PostModel.java
  postory/android/Postory/app/src/main/java/com/example/postory/models/UserModel.java
  postory/android/Postory/app/src/main/java/com/example/postory/utils/HourMinuteHandler.java
  postory/android/Postory/app/src/main/java/com/example/postory/utils/PasswordController.java
  postory/android/Postory/app/src/main/java/com/example/postory/utils/StringListHandler.java
  postory/android/Postory/app/src/main/java/com/example/postory/utils/TimeController.java
  postory/android/Postory/app/src/main/res/drawable/outline_remove_red_eye_black_24dp.xml
  postory/android/Postory/app/src/main/res/drawable/rectangle.xml
  postory/android/Postory/app/src/main/res/layout/activity_create_post.xml
  postory/android/Postory/app/src/main/res/layout/activity_explore.xml
  postory/android/Postory/app/src/main/res/layout/activity_forgot_password.xml
  postory/android/Postory/app/src/main/res/layout/activity_login.xml
  postory/android/Postory/app/src/main/res/layout/activity_other_profile_page.xml
  postory/android/Postory/app/src/main/res/layout/activity_register.xml
  postory/android/Postory/app/src/main/res/layout/activity_self_profile_page.xml
  postory/android/Postory/app/src/main/res/layout/activity_single_post.xml
  postory/android/Postory/app/src/main/res/layout/fragment_time_chooser.xml
  postory/android/Postory/app/src/main/res/layout/map_fragment.xml
  postory/android/Postory/app/src/main/res/layout/single_comment.xml
  postory/android/Postory/app/src/main/res/layout/single_post.xml
  postory/android/Postory/app/src/main/res/layout/single_tag.xml
  postory/android/Postory/app/src/main/res/layout/toolbar.xml
  postory/android/Postory/app/src/main/res/menu/toolbar_menu.xml
  postory/android/Postory/app/src/main/res/values/strings.xml
  postory/android/Postory/app/src/main/res/values/styles.xml
  postory/android/Postory/app/src/test/java/com/example/postory/PasswordControllerTest.java
  postory/android/Postory/app/src/test/java/com/example/postory/TimeControllerTest.java
  postory/android/Postory/build.gradle
  postory/android/Postory/gradle.properties
Labels: status: completed, priority: critical, android, postory

#491 Frontend search user
  postory/frontend/src/SearchUser.js
  postory/frontend/src/SearchUser.test.js
  postory/frontend/src/TopBar.js
Labels: enhancement, frontend

#497 Profile page Unfollow functionality implemented.
  postory/frontend/src/ProfilePage.js
Labels: enhancement, frontend
