Repository bounswe/2021SpringGroup9, pull requests merged in 2021-11, with the labels that each got.

#252 Frontend postbuttons
  postory/frontend/src/App.css
  postory/frontend/src/App.js
  postory/frontend/src/PostButtons.js
Labels: enhancement, frontend

#251 Created TopBar and SearchBar components. Added necessary icons to src
  postory/frontend/src/SearchBar.js
  postory/frontend/src/TopBar.js
  postory/frontend/src/globe_icon.png
  postory/frontend/src/home_icon.png
  postory/frontend/src/magnify_icon.png
  postory/frontend/src/menu_icon.png
  postory/frontend/src/postory_logo.jpeg
  postory/frontend/src/postory_logo_no_text.png
Labels: enhancement, frontend

#259 Backend create post
  postory/backend/Dockerfile
  postory/backend/backend/settings.py
  postory/backend/backend/urls.py
  postory/backend/docker-compose.yml
  postory/backend/post_endpoint/serializers.py
  postory/backend/post_endpoint/urls.py
  postory/backend/post_endpoint/views.py
  postory/backend/requirements.txt
Labels: backend, postory

#267 Frontend CreatePost component
  postory/frontend/package-lock.json
  postory/frontend/package.json
  postory/frontend/src/App.css
  postory/frontend/src/App.js
  postory/frontend/src/CreatePost.js
  postory/frontend/src/TopBar.js
  postory/frontend/src/index.js
Labels: enhancement, frontend, postory

#269 Created TextChooser component
  postory/frontend/src/TextChooser.css
  postory/frontend/src/TextChooser.js
Labels: enhancement, frontend

#270 Created TimeChooser component
  postory/frontend/src/TimeChooser.css
  postory/frontend/src/TimeChooser.js
Labels: enhancement, frontend

#268 Frontend tagchooser
  postory/frontend/src/TagChooser.css
  postory/frontend/src/TagChooser.js
Labels: enhancement, frontend, postory

#271 Frontend peoplechooser
  postory/frontend/src/PeopleChooser.css
  postory/frontend/src/PeopleChooser.js
Labels: enhancement, frontend, postory

#272 Frontend locationchooser
  postory/frontend/src/LocationChooser.css
  postory/frontend/src/LocationChooser.js
Labels: enhancement, frontend, postory

#264 Locations and tags are now stored in backend and they are lists in th…
  postory/backend/post_endpoint/models.py
  postory/backend/post_endpoint/serializers.py
  postory/backend/post_endpoint/views.py
Labels: enhancement, status: completed, priority: critical, difficulty: medium, backend, postory

#275 Backend Get, Put and Delete API Functionality
  postory/backend/docker-compose.yml
  postory/backend/post_endpoint/urls.py
  postory/backend/post_endpoint/views.py
Labels: priority: high, difficulty: medium, backend, postory

#285 Android UI upgrade
  postory/android/Postory/app/src/main/AndroidManifest.xml
  postory/android/Postory/app/src/main/res/mipmap-anydpi-v26/postory_logo.xml
  postory/android/Postory/app/src/main/res/mipmap-anydpi-v26/postory_logo_round.xml
  postory/android/Postory/app/src/main/res/mipmap-hdpi/postory_logo.png
  postory/android/Postory/app/src/main/res/mipmap-hdpi/postory_logo_foreground.png
  postory/android/Postory/app/src/main/res/mipmap-hdpi/postory_logo_round.png
  postory/android/Postory/app/src/main/res/mipmap-mdpi/postory_logo.png
  postory/android/Postory/app/src/main/res/mipmap-mdpi/postory_logo_foreground.png
  postory/android/Postory/app/src/main/res/mipmap-mdpi/postory_logo_round.png
  postory/android/Postory/app/src/main/res/mipmap-xhdpi/postory_logo.png
  postory/android/Postory/app/src/main/res/mipmap-xhdpi/postory_logo_foreground.png
  postory/android/Postory/app/src/main/res/mipmap-xhdpi/postory_logo_round.png
  postory/android/Postory/app/src/main/res/mipmap-xxhdpi/postory_logo.png
  postory/android/Postory/app/src/main/res/mipmap-xxhdpi/postory_logo_foreground.png
  postory/android/Postory/app/src/main/res/mipmap-xxhdpi/postory_logo_round.png
  postory/android/Postory/app/src/main/res/mipmap-xxxhdpi/postory_logo.png
  postory/android/Postory/app/src/main/res/mipmap-xxxhdpi/postory_logo_foreground.png
  postory/android/Postory/app/src/main/res/mipmap-xxxhdpi/postory_logo_round.png
  postory/android/Postory/app/src/main/res/values/colors.xml
  postory/android/Postory/app/src/main/res/values/postory_logo_background.xml
Labels: enhancement, priority: critical, difficulty: easy, android, postory

#284 Adapters added for dynamic viewing of posts
  postory/android/Postory/.idea/uiDesigner.xml
  postory/android/Postory/.idea/vcs.xml
  postory/android/Postory/app/src/main/AndroidManifest.xml
  postory/android/Postory/app/src/main/java/com/example/postory/MainActivity.java
  postory/android/Postory/app/src/main/java/com/example/postory/activities/MainActivity.java
  postory/android/Postory/app/src/main/java/com/example/postory/adapters/PostAdapter.java
  postory/android/Postory/app/src/main/java/com/example/postory/models/PostModel.java
  postory/android/Postory/app/src/main/res/drawable/paris.png
  postory/android/Postory/app/src/main/res/drawable/rock_pushing.png
  postory/android/Postory/app/src/main/res/layout/activity_main.xml
  postory/android/Postory/app/src/main/res/layout/single_post.xml
Labels: priority: critical, difficulty: easy, practice-app, android

#287 Backend corsheaders
  postory/backend/backend/settings.py
Labels: priority: critical, difficulty: easy, backend, postory

#288 Backend Image Store
  postory/backend/backend/settings.py
  postory/backend/backend/storage.py
  postory/backend/post_endpoint/models.py
  postory/backend/post_endpoint/serializers.py
  postory/backend/post_endpoint/views.py
  postory/backend/requirements.txt
Labels: priority: critical, difficulty: hard, backend, postory

#290 Frontend create post feedback
  postory/frontend/package-lock.json
  postory/frontend/package.json
  postory/frontend/src/App.css
  postory/frontend/src/App.js
  postory/frontend/src/CreatePost.js
  postory/frontend/src/Post.js
Labels: enhancement, frontend, postory

#289 Created checkbox functionality for TimeChooser component
  postory/frontend/src/CreatePost.js
  postory/frontend/src/TimeChooser.css
  postory/frontend/src/TimeChooser.js
Labels: enhancement, frontend

#292 Frontend popups for unimplemented features
  postory/frontend/src/PostButtons.js
  postory/frontend/src/SearchBar.js
  postory/frontend/src/TopBar.js
Labels: enhancement, frontend, postory

#297 Add images component for selecting images in create post page
  postory/frontend/package-lock.json
  postory/frontend/package.json
  postory/frontend/src/App.js
  postory/frontend/src/CreatePost.js
  postory/frontend/src/LocationChooser.js
  postory/frontend/src/Post.js
  postory/frontend/src/TagChooser.js
  postory/frontend/src/TextChooser.js
  postory/frontend/src/TimeChooser.js
Labels: enhancement, frontend, postory

#298 Fixed the problems with TimeChooser component
  postory/frontend/src/TimeChooser.js
Labels: enhancement, frontend, postory

#294 Android Extend Post at Main Page
  postory/android/Postory/app/src/androidTest/java/com/example/postory/PostViewInstrumentedTest.java
  postory/android/Postory/app/src/main/java/com/example/postory/adapters/PostAdapter.java
  postory/android/Postory/app/src/main/res/drawable/baseline_calendar_today_black_24dp.xml
  postory/android/Postory/app/src/main/res/drawable/orange_line.xml
  postory/android/Postory/app/src/main/res/drawable/outline_location_on_black_24dp.xml
  postory/android/Postory/app/src/main/res/drawable/post_border.xml
  postory/android/Postory/app/src/main/res/layout/activity_main.xml
  postory/android/Postory/app/src/main/res/layout/single_post.xml
  postory/android/Postory/app/src/main/res/values/strings.xml
Labels: enhancement, priority: critical, difficulty: medium, android, postory

#306 Android Create Post Activity
  postory/android/Postory/app/src/main/AndroidManifest.xml
  postory/android/Postory/app/src/main/java/com/example/postory/activities/CreatePostActivity.java
  postory/android/Postory/app/src/main/java/com/example/postory/activities/MainActivity.java
  postory/android/Postory/app/src/main/res/drawable/baseline_add_photo_alternate_black_24dp.xml
  postory/android/Postory/app/src/main/res/drawable/baseline_photo_size_select_actual_black_24dp.xml
  postory/android/Postory/app/src/main/res/layout/activity_create_post.xml
  postory/android/Postory/app/src/main/res/layout/single_post.xml
  postory/android/Postory/app/src/main/res/layout/toolbar.xml
  postory/android/Postory/app/src/main/res/values/strings.xml
Labels: status: completed, priority: critical, difficulty: hard, android, postory

#309 Fixed the alignment problem of SearchBar component
  postory/frontend/src/SearchBar.js
Labels: enhancement, frontend, postory

#312 Fixed edit page, title functionality and image functionalities
  postory/frontend/src/CreatePost.js
  postory/frontend/src/EditPost.js
  postory/frontend/src/LocationChooser.js
  postory/frontend/src/Post.js
  postory/frontend/src/Slideshow.css
  postory/frontend/src/TagChooser.js
  postory/frontend/src/TextChooser.js
  postory/frontend/src/TimeChooser.js
Labels: enhancement, frontend, postory

#314 Android UI icon upgrade
  postory/android/Postory/app/src/main/res/drawable/baseline_refresh_black_24dp.xml
  postory/android/Postory/app/src/main/res/drawable/outline_edit_black_24dp.xml
  postory/android/Postory/app/src/main/res/layout/activity_create_post.xml
  postory/android/Postory/app/src/main/res/layout/activity_main.xml
  postory/android/Postory/app/src/main/res/layout/single_post.xml
  postory/android/Postory/app/src/main/res/layout/tag.xml
  postory/android/Postory/app/src/main/res/layout/toolbar.xml
  postory/android/Postory/app/src/main/res/values/strings.xml
Labels: enhancement, status: completed, difficulty: easy, android, postory

#315 Tags listed horizontally
  postory/android/Postory/app/build.gradle
  postory/android/Postory/app/src/main/java/com/example/postory/activities/MainActivity.java
  postory/android/Postory/app/src/main/java/com/example/postory/adapters/PostAdapter.java
  postory/android/Postory/app/src/main/java/com/example/postory/adapters/TagsAdapter.java
  postory/android/Postory/app/src/main/java/com/example/postory/models/TagItem.java
  postory/android/Postory/app/src/main/res/layout/single_post.xml
  postory/android/Postory/app/src/main/res/layout/single_tag.xml
  postory/android/Postory/app/src/main/res/layout/tag.xml
Labels: priority: critical, difficulty: hard, android, postory

#317 Editing posts feature added.
  postory/android/Postory/app/src/main/java/com/example/postory/activities/CreatePostActivity.java
  postory/android/Postory/app/src/main/java/com/example/postory/activities/MainActivity.java
  postory/android/Postory/app/src/main/java/com/example/postory/adapters/PostAdapter.java
  postory/android/Postory/app/src/main/java/com/example/postory/models/PostModel.java
  postory/android/Postory/app/src/main/res/layout/activity_create_post.xml
Labels: priority: critical, difficulty: hard, android, postory

#327 Fixed the issue with titles overflowing and images not fitting
  postory/android/Postory/app/src/main/java/com/example/postory/activities/CreatePostActivity.java
  postory/android/Postory/app/src/main/java/com/example/postory/adapters/PostAdapter.java
  postory/android/Postory/app/src/main/res/layout/activity_create_post.xml
  postory/android/Postory/app/src/main/res/layout/single_post.xml
Labels: enhancement, status: in progress, difficulty: medium, android, postory

#331 Show posts in reverse order
  postory/android/Postory/app/src/main/java/com/example/postory/activities/MainActivity.java
  postory/android/Postory/app/src/main/res/layout/single_post.xml
Labels: status: completed, priority: critical, difficulty: medium, android, postory
