Repository bounswe/2021SpringGroup9, pull requests merged in 2022-01, with the labels that each got.

#509 [Frontend] Filtering functionality - layout
  postory/frontend/src/DiscoverFilter.js
  postory/frontend/src/DiscoverFilter.test.js
  postory/frontend/src/FilteredPosts.js
  postory/frontend/src/index.js
Labels: enhancement, frontend, postory

#495 Android Unfollow
  postory/android/Postory/app/src/main/java/com/example/postory/activities/OtherProfilePageActivity.java
  postory/android/Postory/app/src/main/res/layout/activity_other_profile_page.xml
Labels: status: completed, priority: critical, android, postory

#514 Report user and story
  postory/backend/user_endpoint/models.py
  postory/backend/user_endpoint/serializers.py
  postory/backend/user_endpoint/urls.py
  postory/backend/user_endpoint/views.py
Labels: priority: critical, difficulty: hard, backend, postory

#506 Backend activitystream
  postory/backend/Dockerfile
  postory/backend/activityStream/__init__.py
  postory/backend/activityStream/admin.py
  postory/backend/activityStream/apps.py
  postory/backend/activityStream/models.py
  postory/backend/activityStream/serializers.py
  postory/backend/activityStream/tests.py
  postory/backend/activityStream/urls.py
  postory/backend/activityStream/views.py
  postory/backend/backend/settings.py
  postory/backend/backend/urls.py
  postory/backend/post_endpoint/views.py
  postory/backend/user_endpoint/views.py
Labels: priority: critical, difficulty: hard, backend, postory

#505 Backend post tests
  postory/backend/post_endpoint/tests.py
  postory/backend/post_endpoint/tests/__init__.py
  postory/backend/post_endpoint/tests/test_getposts.py
Labels: priority: high, difficulty: hard, backend, postory

#512 Filter, Wikidata and Admin Functionalities Added
  postory/backend/backend/urls.py
  postory/backend/post_endpoint/admin.py
  postory/backend/post_endpoint/urls.py
  postory/backend/post_endpoint/views.py
  postory/backend/requirements.txt
  postory/backend/user_endpoint/admin.py
  postory/backend/user_endpoint/models.py
Labels: priority: critical, difficulty: hard, backend, postory

#517 Saved Post and Ban Control Functionalities Added
  postory/backend/post_endpoint/urls.py
  postory/backend/post_endpoint/views.py
  postory/backend/user_endpoint/urls.py
  postory/backend/user_endpoint/views.py
Labels: priority: critical, difficulty: easy, backend, postory

#519 A minor mistake where images id was considered as users id in activit…
  postory/backend/activityStream/views.py
Labels: bug, backend

#520 Username is now returned.
  postory/backend/activityStream/views.py
Labels: bug, backend

#511 Preview posts on discovery page implemented.
  postory/android/Postory/.idea/gradle.xml
  postory/android/Postory/.idea/misc.xml
  postory/android/Postory/app/src/main/java/com/example/postory/activities/ExploreActivity.java
  postory/android/Postory/app/src/main/java/com/example/postory/activities/SinglePostActivity.java
  postory/android/Postory/app/src/main/res/layout/single_post_preview.xml
Labels: enhancement, status: completed, priority: critical, difficulty: medium, android, postory

#524 Backend report bugfix
  postory/backend/user_endpoint/models.py
  postory/backend/user_endpoint/serializers.py
  postory/backend/user_endpoint/urls.py
  postory/backend/user_endpoint/views.py
Labels: difficulty: easy, backend, postory

#523 [Frontend] Wiki data functionalities
  postory/frontend/package-lock.json
  postory/frontend/package.json
  postory/frontend/src/DiscoverFilter.js
Labels: enhancement, frontend, postory

#521 Implemented ban checking functionality while signing in
  postory/frontend/src/SignIn.js
Labels: enhancement, frontend, postory

#533 Bugs in the admin page for Follow request, story report, and user report are fixed
  postory/backend/user_endpoint/models.py
  postory/backend/user_endpoint/urls.py
  postory/backend/user_endpoint/views.py
Labels: bug, priority: critical, difficulty: hard, backend, postory

#526 Implemented changing the user account as private in profile page
  postory/frontend/src/PostButtons.js
  postory/frontend/src/ProfilePage.js
Labels: enhancement, frontend

#525 Dropdown menu component on navigation bar implemented
  postory/frontend/src/App.css
  postory/frontend/src/NavbarMenu.js
  postory/frontend/src/NavbarMenu.test.js
  postory/frontend/src/ProfilePage.js
  postory/frontend/src/SearchUser.js
  postory/frontend/src/TopBar.js
  postory/frontend/src/plus-thick.png
Labels: enhancement, frontend

#528 Implemented activity stream for the frontend
  .gitignore
  postory/frontend/package-lock.json
  postory/frontend/src/ActivityStream.css
  postory/frontend/src/ActivityStream.js
  postory/frontend/src/index.js
Labels: enhancement, frontend, postory

#535 [Frontend] Integrate filtering functionality
  postory/frontend/src/DiscoverFilter.js
Labels: enhancement, frontend, postory

#530 Implemented the filter functionality
  postory/android/Postory/.idea/misc.xml
  postory/android/Postory/app/src/main/AndroidManifest.xml
  postory/android/Postory/app/src/main/java/com/example/postory/activities/ExploreActivity.java
  postory/android/Postory/app/src/main/java/com/example/postory/activities/ListFilteredPostsActivity.java
  postory/android/Postory/app/src/main/java/com/example/postory/adapters/KeywordAdapter.java
  postory/android/Postory/app/src/main/java/com/example/postory/adapters/TagFilterAdapter.java
  postory/android/Postory/app/src/main/java/com/example/postory/fragments/TimeChooserFragment.java
  postory/android/Postory/app/src/main/res/drawable/button_round.xml
  postory/android/Postory/app/src/main/res/drawable/calendar_icon.png
  postory/android/Postory/app/src/main/res/drawable/location.png
  postory/android/Postory/app/src/main/res/drawable/pen.jpeg
  postory/android/Postory/app/src/main/res/drawable/profile.jpeg
  postory/android/Postory/app/src/main/res/drawable/tag_border.xml
  postory/android/Postory/app/src/main/res/layout/activity_explore.xml
  postory/android/Postory/app/src/main/res/layout/activity_filter_posts.xml
  postory/android/Postory/app/src/main/res/layout/single_keyword.xml
  postory/android/Postory/app/src/main/res/values/colors.xml
Labels: enhancement, status: completed, priority: critical, difficulty: hard, android

#537 Android Private Profile
  postory/android/Postory/app/src/main/java/com/example/postory/activities/SelfProfilePageActivity.java
  postory/android/Postory/app/src/main/res/layout/activity_self_profile_page.xml
  postory/android/Postory/app/src/main/res/values/strings.xml
Labels: status: completed, priority: critical, android, postory

#539 [Frontend] Tests for profile page
  postory/frontend/src/ProfilePage.test.js
Labels: enhancement, frontend, postory

#542 Frontend testing for my components
  postory/frontend/src/Activation.js
  postory/frontend/src/Activation.test.js
  postory/frontend/src/ActivityStream.test.js
  postory/frontend/src/ForgotPassword.test.js
  postory/frontend/src/ForgotPasswordConfirm.test.js
  postory/frontend/src/SignIn.test.js
  postory/frontend/src/SignUp.test.js
  postory/frontend/src/TextChooser.test.js
  postory/frontend/src/TimeChooser.js
  postory/frontend/src/TimeChooser.test.js
Labels: enhancement, frontend, postory

#541 Backend follow user bugfix and unit tests
  postory/backend/user_endpoint/tests.py
  postory/backend/user_endpoint/tests/__init__.py
  postory/backend/user_endpoint/tests/test_follow.py
  postory/backend/user_endpoint/views.py
Labels: bug, priority: critical, difficulty: medium, backend, postory

#543 View post unit tests implemented
  postory/frontend/src/NavbarMenu.js
  postory/frontend/src/NavbarMenu.test.js
  postory/frontend/src/ViewPost.js
  postory/frontend/src/ViewPost.test.js
Labels: enhancement, frontend, postory

#548 All activity streams
  postory/backend/activityStream/urls.py
  postory/backend/activityStream/views.py
Labels: difficulty: easy, backend

#551 Improved ActivityStream to show all activities
  postory/frontend/src/ActivityStream.js
Labels: enhancement, frontend, postory

#555 Android activity stream page and functionality implemented
  postory/android/Postory/.idea/misc.xml
  postory/android/Postory/app/build.gradle
  postory/android/Postory/app/src/main/AndroidManifest.xml
  postory/android/Postory/app/src/main/java/com/example/postory/activities/ActivityStreamActivity.java
  postory/android/Postory/app/src/main/java/com/example/postory/activities/MainActivity.java
  postory/android/Postory/app/src/main/java/com/example/postory/adapters/ActivityStreamAdapter.java
  postory/android/Postory/app/src/main/java/com/example/postory/adapters/ViewPagerAdapter.java
  postory/android/Postory/app/src/main/java/com/example/postory/fragments/FollowedActivityStreamFragment.java
  postory/android/Postory/app/src/main/java/com/example/postory/fragments/OwnActivityStreamFragment.java
  postory/android/Postory/app/src/main/java/com/example/postory/models/ActorObjectGeneralModel.java
  postory/android/Postory/app/src/main/java/com/example/postory/models/ActorObjectModel.java
  postory/android/Postory/app/src/main/res/layout/activity_activity_stream.xml
  postory/android/Postory/app/src/main/res/layout/fragment_followed_activity_stream.xml
  postory/android/Postory/app/src/main/res/layout/fragment_own_activity_stream.xml
  postory/android/Postory/app/src/main/res/layout/single_activity_stream.xml
Labels: status: completed, priority: critical, difficulty: hard, android, postory

#553 Location choosing problems about post preview is fixed
  postory/frontend/src/ActivityStream.js
  postory/frontend/src/LocationMap.js
  postory/frontend/src/Post.js
  postory/frontend/src/Post.test.js
  postory/frontend/src/PostButtons.js
  postory/frontend/src/ProfilePage.js
  postory/frontend/src/ViewPost.js
Labels: enhancement, frontend, postory

#545 [Frontend] Filter and profile page tests
  postory/frontend/src/DiscoverFilter.js
  postory/frontend/src/DiscoverFilter.test.js
  postory/frontend/src/ProfilePage.js
  postory/frontend/src/ProfilePage.test.js
Labels: enhancement, frontend, postory

#559 Android Privacy Switch Bug Fixed
  postory/android/Postory/app/src/main/java/com/example/postory/activities/SelfProfilePageActivity.java
Labels: bug, status: completed, priority: critical, android, postory

#562 Android Activity Stream Connect
  postory/android/Postory/app/src/main/java/com/example/postory/activities/ActivityStreamActivity.java
  postory/android/Postory/app/src/main/java/com/example/postory/activities/CreatePostActivity.java
  postory/android/Postory/app/src/main/java/com/example/postory/activities/ExploreActivity.java
  postory/android/Postory/app/src/main/java/com/example/postory/activities/ListFilteredPostsActivity.java
  postory/android/Postory/app/src/main/java/com/example/postory/activities/MainActivity.java
  postory/android/Postory/app/src/main/java/com/example/postory/activities/OtherProfilePageActivity.java
  postory/android/Postory/app/src/main/java/com/example/postory/activities/SelfProfilePageActivity.java
  postory/android/Postory/app/src/main/java/com/example/postory/activities/SinglePostActivity.java
  postory/android/Postory/app/src/main/java/com/example/postory/activities/ToolbarActivity.java
  postory/android/Postory/app/src/main/java/com/example/postory/activities/UserSearchActivity.java
  postory/android/Postory/app/src/main/res/menu/toolbar_menu.xml
Labels: enhancement, status: completed, priority: critical, android, postory

#563 Tests written for HourMinuteHandler class
  postory/android/Postory/app/src/test/java/com/example/postory/HourMinuteHandlerTest.java
Labels: status: completed, priority: critical, android, postory

#560 [Frontend] Fixes on filter components
  postory/frontend/src/DiscoverFilter.js
Labels: frontend, postory

#567 Frontend create post can have zero tags and locations, create post tests added
  postory/frontend/src/CreatePost.js
  postory/frontend/src/CreatePost.test.js
  postory/frontend/src/EditPost.js
Labels: enhancement, frontend, postory

#565 Android progress dialogs are added for report operations
  postory/android/Postory/app/src/main/java/com/example/postory/activities/OtherProfilePageActivity.java
  postory/android/Postory/app/src/main/java/com/example/postory/activities/SinglePostActivity.java
Labels: enhancement, status: completed, priority: critical, android, postory

#566 Private profile follow property changed
  postory/android/Postory/app/src/main/java/com/example/postory/activities/OtherProfilePageActivity.java
Labels: status: completed, priority: critical, android, postory

#571 Exceptions are handled.
  postory/backend/activityStream/views.py
Labels: bug, backend

#573 Android follow request activity
  postory/android/Postory/app/src/main/AndroidManifest.xml
  postory/android/Postory/app/src/main/java/com/example/postory/activities/FollowRequestActivity.java
  postory/android/Postory/app/src/main/java/com/example/postory/activities/SelfProfilePageActivity.java
  postory/android/Postory/app/src/main/java/com/example/postory/adapters/RequestAdapter.java
  postory/android/Postory/app/src/main/res/layout/activity_follow_request.xml
  postory/android/Postory/app/src/main/res/layout/activity_self_profile_page.xml
  postory/android/Postory/app/src/main/res/layout/single_follow_request.xml
Labels: status: completed, priority: critical, android, postory

#575 Android filter clear
  postory/android/Postory/.idea/misc.xml
  postory/android/Postory/app/src/main/AndroidManifest.xml
  postory/android/Postory/app/src/main/java/com/example/postory/activities/ExploreActivity.java
  postory/android/Postory/app/src/main/java/com/example/postory/adapters/TagFilterAdapter.java
  postory/android/Postory/app/src/main/res/drawable/button_round_red.xml
  postory/android/Postory/app/src/main/res/layout/activity_explore.xml
Labels: enhancement, priority: critical, difficulty: easy, difficulty: hard, android, postory

#578 Android unit test post
  postory/android/Postory/app/src/main/AndroidManifest.xml
  postory/android/Postory/app/src/main/java/com/example/postory/activities/ActivityStreamActivity.java
  postory/android/Postory/app/src/main/java/com/example/postory/activities/ExploreActivity.java
  postory/android/Postory/app/src/test/java/com/example/postory/PostModelConverterTest.java
Labels: priority: critical, difficulty: easy, android, postory

#579 Merge android with master
  postory/android/Postory/app/src/main/AndroidManifest.xml
  postory/android/Postory/app/src/main/java/com/example/postory/activities/ActivityStreamActivity.java
  postory/android/Postory/app/src/main/java/com/example/postory/activities/ExploreActivity.java
  postory/android/Postory/app/src/test/java/com/example/postory/PostModelConverterTest.java
Labels: status: completed, android, postory

#590 [Frontend] Code and test documentation
  postory/frontend/src/DiscoverFilter.js
  postory/frontend/src/DiscoverFilter.test.js
  postory/frontend/src/DiscoverPage.js
  postory/frontend/src/FilteredPosts.js
  postory/frontend/src/ProfilePage.js
  postory/frontend/src/ProfilePage.test.js
Labels: documentation, frontend, postory

#589 The app is now deployable using docker-compose up with a .env file.
  postory/frontend/Dockerfile
  postory/frontend/README.md
  postory/frontend/docker-compose.yml
  postory/frontend/src/CreatePost.js
  postory/frontend/src/EditPost.js
  postory/frontend/src/ForgotPassword.js
  postory/frontend/src/ForgotPasswordConfirm.js
  postory/frontend/src/ProfilePage.js
  postory/frontend/src/SignIn.js
  postory/frontend/src/requests.js
Labels: enhancement, frontend, postory

#592 Descriptions for tests, comments for endpoints
  postory/backend/activityStream/tests/test_activityStream.py
  postory/backend/activityStream/views.py
  postory/backend/post_endpoint/tests/test_getposts.py
  postory/backend/post_endpoint/views.py
Labels: documentation, priority: critical, difficulty: easy, backend, postory

#593 Backend Master to Master
  postory/backend/activityStream/tests/test_activityStream.py
  postory/backend/activityStream/views.py
  postory/backend/backend/email.py
  postory/backend/post_endpoint/admin.py
  postory/backend/post_endpoint/tests/test_filter.py
  postory/backend/post_endpoint/tests/test_getposts.py
  postory/backend/post_endpoint/views.py
  postory/backend/user_endpoint/tests/test_follow.py
  postory/backend/user_endpoint/views.py
Labels: backend, postory

#595 Created frontend documentation for my components and tests
  postory/frontend/src/Activation.js
  postory/frontend/src/Activation.test.js
  postory/frontend/src/ActivityStream.js
  postory/frontend/src/ActivityStream.test.js
  postory/frontend/src/ForgotPassword.js
  postory/frontend/src/ForgotPassword.test.js
  postory/frontend/src/ForgotPasswordConfirm.js
  postory/frontend/src/ForgotPasswordConfirm.test.js
  postory/frontend/src/SearchBar.js
  postory/frontend/src/SignIn.js
  postory/frontend/src/SignIn.test.js
  postory/frontend/src/SignUp.js
  postory/frontend/src/SignUp.test.js
  postory/frontend/src/TextChooser.js
  postory/frontend/src/TextChooser.test.js
  postory/frontend/src/TimeChooser.js
  postory/frontend/src/TimeChooser.test.js
  postory/frontend/src/TopBar.js
Labels: documentation, frontend, postory

#598 Documentation provided for the code I've written
  postory/android/Postory/app/src/main/java/com/example/postory/activities/ActivityStreamActivity.java
  postory/android/Postory/app/src/main/java/com/example/postory/activities/CreatePostActivity.java
  postory/android/Postory/app/src/main/java/com/example/postory/activities/ExploreActivity.java
  postory/android/Postory/app/src/main/java/com/example/postory/activities/ListFilteredPostsActivity.java
  postory/android/Postory/app/src/main/java/com/example/postory/activities/MainActivity.java
  postory/android/Postory/app/src/main/java/com/example/postory/activities/SinglePostActivity.java
  postory/android/Postory/app/src/main/java/com/example/postory/adapters/ActivityStreamAdapter.java
  postory/android/Postory/app/src/main/java/com/example/postory/adapters/CommentsAdapter.java
  postory/android/Postory/app/src/main/java/com/example/postory/adapters/KeywordAdapter.java
  postory/android/Postory/app/src/main/java/com/example/postory/adapters/PostAdapter.java
  postory/android/Postory/app/src/main/java/com/example/postory/adapters/TagFilterAdapter.java
  postory/android/Postory/app/src/main/java/com/example/postory/adapters/ViewPagerAdapter.java
  postory/android/Postory/app/src/main/java/com/example/postory/fragments/FollowedActivityStreamFragment.java
  postory/android/Postory/app/src/main/java/com/example/postory/fragments/MapFragment.java
  postory/android/Postory/app/src/main/java/com/example/postory/fragments/OwnActivityStreamFragment.java
  postory/android/Postory/app/src/test/java/com/example/postory/PostModelConverterTest.java
Labels: documentation, status: completed, priority: critical, difficulty: hard, android

#602 Android README File added
  postory/android/README.md
Labels: documentation, status: completed, priority: critical, difficulty: medium, android, postory

#604 Android Code Documentation Niyazi
  postory/android/Postory/app/src/main/java/com/example/postory/activities/FollowRequestActivity.java
  postory/android/Postory/app/src/main/java/com/example/postory/activities/ForgotPasswordActivity.java
  postory/android/Postory/app/src/main/java/com/example/postory/activities/LoginActivity.java
  postory/android/Postory/app/src/main/java/com/example/postory/activities/OtherProfilePageActivity.java
  postory/android/Postory/app/src/main/java/com/example/postory/activities/RegisterActivity.java
  postory/android/Postory/app/src/main/java/com/example/postory/activities/SelfProfilePageActivity.java
  postory/android/Postory/app/src/main/java/com/example/postory/activities/ToolbarActivity.java
  postory/android/Postory/app/src/main/java/com/example/postory/activities/UserSearchActivity.java
  postory/android/Postory/app/src/main/java/com/example/postory/adapters/RequestAdapter.java
  postory/android/Postory/app/src/main/java/com/example/postory/adapters/TagsAdapter.java
  postory/android/Postory/app/src/main/java/com/example/postory/adapters/UserAdapter.java
  postory/android/Postory/app/src/main/java/com/example/postory/fragments/TimeChooserFragment.java
  postory/android/Postory/app/src/main/java/com/example/postory/utils/HourMinuteHandler.java
  postory/android/Postory/app/src/main/java/com/example/postory/utils/PasswordController.java
  postory/android/Postory/app/src/main/java/com/example/postory/utils/StringListHandler.java
  postory/android/Postory/app/src/main/java/com/example/postory/utils/TimeController.java
  postory/android/Postory/app/src/main/java/com/example/postory/utils/UserModelConverter.java
  postory/android/Postory/app/src/test/java/com/example/postory/HourMinuteHandlerTest.java
  postory/android/Postory/app/src/test/java/com/example/postory/PasswordControllerTest.java
  postory/android/Postory/app/src/test/java/com/example/postory/TimeControllerTest.java
  postory/android/Postory/app/src/test/java/com/example/postory/UserModelConverterTest.java
  postory/android/system_manual.md
Labels: documentation, status: completed, priority: critical, android, postory
